body{background:#030708}
ul,#myUL{list-style-type:none}
#myUL{margin:0;padding:0}
.sildata{display:none}
#mysilsilah{padding:10px;overflow:auto;max-height:100%;white-space:nowrap;line-height:1.2em;scrollbar-face-color:#CE7E00;scrollbar-shadow-color:#FFF;scrollbar-highlight-color:#6F4709;scrollbar-3dlight-color:#11111;scrollbar-darkshadow-color:#6F4709;scrollbar-track-color:#FFE8C1;scrollbar-arrow-color:#6F4709}
.caret{cursor:pointer;cursor:hand;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.caret::after{content:"";color:#599bb3;font-weight:700;line-height:5px;display:inline-block;margin-right:6px;margin-left:-31px;margin-bottom:0;padding:5px;width:31px;height:31px;border-radius:0 0 20px 20px;position:absolute;top:14px;z-index:1;cursor:pointer;cursor:hand;background:url(https://drive.google.com/thumbnail?id=1GijUlHlhanV3IyU9BFZpJTiOGtHtJ1hD) no-repeat}
.caret-down::after{background:url(https://drive.google.com/thumbnail?id=1HwfBR3iUjK3o9krvniBtqlHPTJhMgjAG) no-repeat}
.nested{display:none}
.SilAktif{display:block}
.tree ul{margin-left:-5px}
.tree li{list-style-type:none;margin:5px;position:relative}
.tree li::before{content:"";position:absolute;top:-15px;left:-24px;border-left:2px solid #599bb3;border-bottom:2px solid #599bb3;border-radius:0 0 0 0;width:22px;height:35px}
.tree li::after{position:absolute;content:"";top:12px;left:-24px;border-left:2px solid #599bb3;padding:5px;border-radius:0 0 0 0;width:22px;height:100%}
.tree li:last-child::after{display:none}
.tree li:last-child:before{border-radius:0 0 0 5px}
ul.tree>li:first-child::before{display:none}
ul.tree>li:first-child::after{border-radius:5px 0 0 0}
.tree li a{width:200px;display:inline-block}
.tree li a:hover > .member-view-box{background:#1a799b}
.tree li a:hover+ul li::after,.tree li a:focus+ul li::after,.tree li a:hover+ul li::before,.tree li a:focus+ul li::before
.tree li a:hover+ul::before,.tree li a:focus+ul::before
.tree li a:hover+ul ul::before,.tree li a:focus+ul ul::before{border-color:#000}
.modal{display:none;position:fixed;z-index:2;padding-top:50px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#000;background-color:rgba(0,0,0,0.9)}
.modal img{max-height:50%;width:auto;max-width:100%}
.modal-content{margin:auto;display:block;width:80%;max-width:700px}
#caption{margin:auto;display:block;width:80%;max-width:700px;text-align:center;color:#ccc;padding:10px 0;max-height:30%;overflow:auto}
.silheader{margin-bottom:20px;padding:10px 0}
.Silcol-container1{display:inline-flex;width:100%;color:#375e65}
.Silcol1{display:table-cell;padding:5px;width:70%;border:5px outset #599bb3;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#408c99),color-stop(1,#599bb3));background:-moz-linear-gradient(top,#408c99 5%,#599bb3 100%);background:-webkit-linear-gradient(top,#408c99 5%,#599bb3 100%);background:-o-linear-gradient(top,#408c99 5%,#599bb3 100%);background:-ms-linear-gradient(top,#408c99 5%,#599bb3 100%);background:linear-gradient(to bottom,#408c99 5%,#599bb3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99',endColorstr='#599bb3',GradientType=0);background-color:#408c99}
.Silcol1 h2{color:#ebefef;margin:0}
.Silcol1 p{color:#ebefef}
.Silcol2{display:table-cell;padding:10px;width:30%}
.silavatar{vertical-align:middle;width:100px!important;height:100px!important;border-radius:10px}
@media only screen and (max-width: 768px) {
.Silcol-container1{display:block;width:100%;color:#375e65}
.col-container1{display:block;width:100%}
.Silcol1{display:block;padding:10px;width:95%;margin:auto}
.Silcol2-content{margin-top:20px}
.Silcol2{display:block;padding:0;width:100%}
}
.modal-content,#caption{-webkit-animation-name:zoom;-webkit-animation-duration:.6s;animation-name:zoom;animation-duration:.6s}
@-webkit-keyframes zoom {
from{-webkit-transform:scale(0)}
to{-webkit-transform:scale(1)}
}
@keyframes zoom {
from{transform:scale(0)}
to{transform:scale(1)}
}
.close2{position:absolute;top:50px;right:35px;color:#f1f1f1;font-size:40px;font-weight:700;transition:.3s}
.close2:hover,.close2:focus{color:#bbb;text-decoration:none;cursor:pointer}
.opengal{position:absolute;top:100px;right:35px;color:#f1f1f1;font-size:25px;font-weight:700;transition:.3s}
.opengal:hover,.opengal:focus{color:#bbb;text-decoration:none;cursor:pointer}
@media only screen and (max-width: 700px) {
.modal-content{width:100%}
}
.member-view-box{padding:0;text-align:left;border-radius:4px;position:relative;width:220px;height:40px;border:2px solid #599bb3;display:block;background-color:#004b66;-moz-border-radius:8px;-webkit-border-radius:8px;color:#fff;font-size:14px;text-shadow:0 2px 2px #000;overflow:hidden}
.member-image{position:relative}
.member-image img{width:40px!important;height:40px!important;background-color:#3a889d;z-index:1;float:left;border-radius:3px 0 0 3px}
.member-details{display:inline-block;margin-top:0;margin-left:10px;word-break:break-word;text-align:left;white-space:pre-wrap;line-height:1;top:50%;position:absolute;transform:translateY(-50%);font-family:poppins;font-weight:500}
@media screen and (max-width:440px) {
.pricing_table .plan{width:100%}
}
.about{outline:0;background-color:#255262;text-align:center;padding:10px 10px 50px;margin:0 auto 100px;border-radius:5px 5px 0 0;position:relative}
.about::after,.about::before{content:"";border-top:40px solid #255262;border-right:125px solid transparent;position:absolute;bottom:-40px;left:0}
.about::after{border-right:none;border-left:125px solid transparent;left:auto;right:0}
.about .icon{display:inline-block;font-size:28px;color:#fff;margin-bottom:20px}
.about .description{font-size:30px;color:#fff;margin-bottom:10px;text-align:center;font-family:'Poppins';font-weight:500}
.about .about-content{width:100%;left:0;position:absolute}
.about .pic{display:inline-block;border:4px solid #fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;overflow:hidden;z-index:1;position:relative;width:120px;height:120px;background-color:#b7bcc7}
.about .pic img{width:100%;height:auto;display:block}
.about .name{font-size:15px;font-weight:600;color:#333;text-transform:capitalize;margin:0}
.footer h2,.sidebar h2{text-transform:uppercase}
.about .title{display:block;font-weight:500;font-size:15px;color:#212121}
